/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #bbb inset;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.page-list{
  height: 0px;
}

.button-collapse{
  padding-left: 48px;
}

.page-title{
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-title h4{
  color: white;
  padding-left: 48px;
}

.top-title{
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-title h4{
  color: white;
  padding-left: 48px;
}

.top-title .row{
  margin-bottom: 0px;
}
