/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

header,
main,
footer {
    padding-left: 240px;
}
hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
}
.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.page-list {
    height: 0px;
}
.button-collapse {
    padding-left: 48px;
}
.page-title {
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-title h4 {
    color: white;
    padding-left: 48px;
}
.page-title .row {
    margin-bottom: 0px;
}
.top-title {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-title h4 {
    color: white;
    padding-left: 48px;
}
.top-title .row {
    margin-bottom: 0px;
}
.btn {
    margin: 5px;
}
@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    .top-title h4 {
        padding-left: 48px;
    }
    .page-title h4 {
        padding-left: 48px;
    }
}
@media only screen and (max-width: 600px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    .top-title h4 {
        padding-left: 0px;
    }
    .page-title h4 {
        padding-left: 0px;
    }
}
.page-footer ul li {
    margin: 5px;
}
.nav-top {
    font-weight: 600;
}
.table-of-contents a.level2{
    padding-left: 40px;
}

.table-of-contents li{
  padding-top: 7px;
  padding-bottom: 7px;
}

.fixed-action-btn{
  bottom: 45px;
  right: 24px;
  visibility: hidden;
}

.slider .caption h3{
  color: cadetblue;
}
